<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Taller1</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="DeezerApp">
    <div ng-controller="MainCtrl  ">
<div>
  <h1> PSL CHALLENGE </h1>
  <div class="panel panel-primary" id="panel">
    <div class="panel-heading"> Artist </div>
      <div class="panel-body"> Please write and artist name
        <form class="city-input">
          <input id="search-track-input" class="form-control" type="text" ng-model="track.search" placeholder="Artist Name" >
          <div>
            <button class="btn btn-primary" type="submit" ng-click="searchInfo(track.search)"> Search Albums </button>
            <button class="btn btn-primary clear-data-button" ng-click="clearData()"> Clear Data </button>
            <span ng-if="loading">Loading ...</span>
          </div>

        </form>
    </div>
  </div>
  <div class="panel panel-primary" id="panel" >
    <div class="panel-heading"> Result </div>
    <table class="table">
      <thead>
        <th> Field </th>
        <th> Result </th>
      </thead>
      <tbody>
        <tr>
          <td> Artist Name </td>
          <td> {{artist.name}} </td>
        </tr>
        <tr>
          <td> Deezer Profile </td>
          <td> <a ng-href={{artist.link}}>{{artist.link}}</a></td>
        </tr>
        <tr>
          <td> Albums  </td>
          <td> {{artist.nb_album}}  </td>
        </tr>
        <tr>
          <td> Deezer Fans  </td>
          <td> {{artist.nb_fan}}  </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div ui-view="">
  </div> -->
</div>
    </div>
  <!-- bower:js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="app.js"></script>
  <script src="controllers/main.controller.js"></script>
  <script src="filter/unique.js"></script>
  <script src="services/deezer.service.js"></script>
  <!-- endinject -->
  </body>
</html>
